{% extends "base.html" %}

{% block main %}
<h3>Approve Loans</h3>
<table>
    <tr>
        <th>Description</th>
        <th>Applicant</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>
    {% for loan in loans %}
    {% if not loan.approved and not loan.declined %}
    <form action="" method="post">
        {% csrf_token %}
        <tr>
            <td>{{ loan.accountName }}</td>
            <td>{{ loan.user.customuser.full_name }}</td>
            <td>{{ loan.amount }}</td>
            <td><a href={% url 'bank_app:approve' loan.pk %}>Approve</a> | <a href={% url 'bank_app:decline' loan.pk %}>Decline</a></td>
        </tr>
    </form>
    {% endif %}
    {% endfor %}
</table>
{% endblock main %}
